.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  border: 1px solid black;
  width: 20%;
  margin: 20px;
}

.filterDetails {
  margin: 10px 0px;
}

.checked {
  color: limegreen;
}
.iconColor {
  color: dodgerblue;
}
.enquiryIconColor {
  color: gray;
}
.companyDetailsWidth {
  width: 72%;
}
.fontSize25 {
  font-size: 25px;
}
.companyBodyPartDetails {
  margin: 20px;
  width: 100px;
  height: 100px;
  border-radius: 150px;
  outline: 1px solid black;
  flex-direction: row;
  display: flex;
}

.companyLogo {
  margin-top: 5px;
  width: 100%;
  height: 90%;
}
